<div class="container">
  <div class="row justify-content-center">
    <div class="col-12  ">
      <div class="form-container">
        <div class="form">
          <%= simple_form_for seedpackage do |f| %>
          <%= f.input :name, class: "rad" %>
          <%= f.input :description, class: "rad" %>
          <%= f.input :location, class: "rad"%>
          <%= f.input :package_price, class: "rad" %>
          <%= f.input :photo, class: "rad"%>
          <%= f.button :submit, class: 'btn btn-primary2' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
