<div class="page-f">
  <div class="form-container">
    <% if seedpackage.new_record? %>
    <h1>Create a new seedpackage</h1>
    <% else %>
    <h1> Update your seedpackage </h1>
    <% end %>
    <div class="form">
      <%= simple_form_for seedpackage do |f| %>
      <%= f.input :name, class: "rad" %>
      <%= f.input :description, class: "rad" %>
      <%= f.input :location, class: "rad"%>
      <%= f.input :package_price, class: "rad" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit, class: 'btn btn-primary2' %>
    </div>
    <% end %>
  </div>
</div>
