<h2><%= @seedpackage.name  %></h2>
<p><%= @seedpackage.description  %></p>
<p><%= @seedpackage.location  %></p>
<p><%=@seedpackage.package_price  %>€</p>
<p><%= @seedpackage.user.username %></p>

<%= button_to'Buy', seedpackage_transactions_path(@seedpackage), method: :post %>
