<div class="container">
  <div class="seed-card">
    <h2><%= @seedpackage.name  %> &nbsp;
    <%= @seedpackage.package_price  %>&thinsp;€
    <%= button_to'Buy', seedpackage_transactions_path(@seedpackage), method: :post, class: 'btn btn-primary'%></h2>
    <p>Sold by&thinsp;: <%= @seedpackage.user.username %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></p>

    <div class="card-container">
      <div class="left">
        <img src="http://ben-riollet.com/seed/colza2.jpg">
      </div>

      <div class="right">
        <img src="http://ben-riollet.com/seed/map.png">
      </div>
    </div>
  </div>
  <div  class="description"> <p><%= @seedpackage.description  %></p> </div>
</div>

<%# @seedpackage.address  %>

