<div class="container">
  <div class="seed-card">
<h2><%= @seedpackage.name  %> &nbsp;
<%=@seedpackage.package_price  %>&thinsp;€
<%= link_to 'Buy', seedpackage_transactions_path(@seedpackage), method: :post, class: 'btn btn-primary'%></h2>
<p>Sold by&thinsp;: <%= @seedpackage.user.username %>
<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %></p>
  <div class="card-container ">
  <div class="img-container">
    <%= cl_image_tag @seedpackage.photo, height: 300, width: 400, crop: :fill, class: "left-img" %> <!--  <div class="seed-card first-img seed-card-img" style="background-image: url(http://ben-riollet.com/seed/colza1.jpg)"> -->
  </div>
  <div class="group-img">
  <div class="seed-card second-img seed-card-img" style="background-image: url(http://ben-riollet.com/seed/colza2.jpg)">
  </div>
  <div class="seed-card third-img seed-card-img" style="background-image: url(http://ben-riollet.com/seed/colza3.jpg)">
  </div>
  </div>
  </div>
  <!-- <img id="map" src='https://api.mapbox.com/[...]?access_token=pk.eyJ1Ijoicm9tYWluLWh0bnIiLCJhIjoiY2syeWs2bjh1MDg2eTNtcGRpY284cmV6byJ9.q-zSyM4EXeZGxZqVQna3wg'> -->
  <div class="map" style="background-image: url(http://ben-riollet.com/seed/map.png)"><p><%= @seedpackage.location  %></p>
  </div>
  </div>
  <div class="description"> <p><%= @seedpackage.description  %></p> </div>
  </div>
</div>


<%# @seedpackage.address  %>

