<div class="container-seeds">
  <div class="seeds-header">
    <h2><%= @seedpackage.name  %> &nbsp;
    <%=@seedpackage.package_price  %>&thinsp;€
    <%= link_to 'Buy', seedpackage_transactions_path(@seedpackage), method: :post, class: 'btn btn-primary'%></h2>
    <p>Sold by&thinsp;: <%= @seedpackage.user.username %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: 'avatar' %></p>
  </div>
  <div class="seed-cards d-flex">
    <div class="photo-des">
    <%= cl_image_tag @seedpackage.photo, height: 300, width: 400, crop: :fill, class: "left-img" %>
    <div class="description-seed"> <p><%= @seedpackage.description  %></p> </div>
    </div>

  <div class="map" style="background-image: url(https://res.cloudinary.com/dgpkng6h9/image/upload/v1575039690/Seeds/MAP_dmfawe.png)"></p>
    </div>
</div>
</div>
<%# @seedpackage.address  %>
