<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to seedpackages_path, class: "navbar-brand" do %>
    <%= image_tag "http://ben-riollet.com/.seed/logo.png" %>
    <div class="title-nav">
      <h1><%= "AirB\'nSeeds" %></h1>
    </div>
    <% end %>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="searchbar">
    <%= form_tag seedpackages_path, class: "barbar", method: :get do %>
       <%= submit_tag "Search", class: "btn btn-primary" %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find some SEEDS"
        %>
    <% end %>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to current_user.username, dashboard_path, class: "Username-in-nav" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right dropdown-radius-navbar" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", dashboard_path, class: "dropdown-item" %>
            <%= link_to "Create an annonce", new_seedpackage_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
